*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'gavoline';
    src: url(./tipografias/GavolineDemo.otf);
}

@font-face {
    font-family: 'cinzel';
    src: url(./tipografias/Cinzel-Regular.otf);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 1rem 3rem 1rem rgba(0,0,0,.1);
}

.navbar i{
        font-size: 2.5rem;
        color: black;
        margin-right: 3vh;
}
#menu{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color:#010128;
    cursor: pointer;
    display: none;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}
.logo{
    width: auto;
    height: 10vh;
    margin-left: 5vh;
}

#home{
    background-color:#9cbfee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagen texto";
    
}
#home{
    width: 100%;
    height: 100vh;
}

#home img{
    grid-area: imagen;
    margin-top: 20vh;
    margin-left: 15vh;
    border-radius: 80px;
}
.information{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 10vh;
}
.information h1{
    font-size: 4rem;
    font-family: gavoline;
    text-align: center;
}
.information p{
    font-size: 1.5rem;
}
.information button{
    background-color: #2e94e2;
    padding: 1.5vh;
    width: 10vw;
    border-radius: 15px;
    font-size: 1rem;
}
.information button:hover{
    background-color: #076cd8;
}
.button{
    color: black;
}


.image-products{
    width: 9vw;;
}

.nav{
    display: flex;
    background-color: #020230;
}

.product{
    font-size: 4rem;
    text-align: center;
    color: white;
    padding: 2vh;
    border-radius: 5px;
    width: 50%;
} 

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 40vw;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #6d6d72;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #010128;
}
.shopping {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
    padding: 2vh;
    background-color: #9cbfee;
}

.container {
    display: flex;
    flex-direction: column; 
    height: 60vh;
    width: 20vw;
    background-color: #f0f4f8;
    align-items: center;
    border-radius: 10px;
    padding: 1vh;
    box-shadow: 0 0 10px darkblue;
}

.list-products{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}
.buy-car{
    background-color: #03033a;
    padding: 1vh;
    border-radius: 10px;
    width: 80%;
    margin-left: 2vw;
}
.buy-car:hover{
    background-color: #02021e;
}

.ri-shopping-cart-2-line{
    color: white;
    font-size: 1.3rem;
}
.money-product{
    font-size: 2rem;
}

.ri-home-smile-line:hover,.ri-shopping-bag-3-line:hover,.ri-shopping-cart-2-line:hover{
    color: #2e94e2;
}
.ri-shirt-line{
    margin-left: 2vh;
    margin-top: 2vh;
    font-size: 4rem;
}
.container-clothes{
    display: none;
    flex-direction: column;
    font-size: 2rem;
    width: 20%;
    gap: 2vh;
}
#name,#price{
    padding: 1.5vh;
    border-radius: 10px;
}
.car-shopping{
    width: 100%;
    height: 100%;
    background-color:#9cbfee;
}

.ri-shirt-fill,.ri-vip-diamond-fill,.ri-computer-fill,.ri-t-shirt-fill{
    font-size: 2rem;
}

.button-woman,.button-men,.button-jewelery,.button-electronics{
    font-family:cinzel;
    margin-left: 15vw;
    padding: 1.5vh;
   
}
.container-opcion{
    background-color: #9cbfee;
}

@media(max-width:800px){
    header{
        font-size: 55%;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
    }
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        clip-path:polygon(0 0, 100% 0,100% 0, 0 0);
    }
    #menu:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
    }
     header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
    }
    .information h1{
        font-size: 5rem;
    }
   .heading{
    font-size: 3rem;
    }
    #home{
    display: flex;
    flex-direction: column;    
}
    #home img{
    margin-top: 10vh;
    margin-left: 0vh;
}
    .information h1{
    font-size: 2rem;
    line-height: 5vh;
    padding: 2vh;
}
.information p{
    font-size: 1.1rem;
}
.information button{
    text-align: center;
    width: 20vw;
    font-size: 1rem;
}
#home{
    height: 100%;
}
.logo{
    width: auto;
    height: 7vh;
    margin-right: 5vh;
}
.ri-home-smile-line,.ri-shopping-bag-3-line,.ri-shopping-cart-2-line{
    font-size: 0rem;
    line-height: 0vh;
}
.product{
    font-size: 2rem;
} 
#products-shopping{
    width: 100vw;
    padding: 0;
}
.search__input{
    margin-left: 3vw;
}
.name-product{
    font-size: 0.6rem;
    text-align:center;
}
.money-product{
    font-size: 1rem;
}
.list-products,.container{
    height: 30vh;
}
.ri-shopping-cart-2-line{
    font-size: 0.8rem;
}
.buy-car{
    padding: 0.5vh; 
}
.navbar i{
    color: rgb(25, 25, 190);
}
}
